name = "tiltify-cache"
main = "./src/index.ts"
account_id = "b5ef135c0a2feed17e7ba1c44698c5f4"
compatibility_date = "2024-09-02"
workers_dev = true
logpush = true
kv_namespaces = [
  { binding = "JINGLE_JAM_DATA", id = "9d285e05684c4887acb7731de7a41a4e", preview_id = "6a08d74af525475baefa19a93f0ba136" },
]

[observability]
enabled = true

[durable_objects]
bindings = [
  { name = "TILTIFY_DATA", class_name = "TiltifyData"},
  { name = "GRAPH_DATA", class_name = "GraphData" },
]

[[migrations]]
tag = "v1"
new_classes = ["TiltifyData"]

[[migrations]]
tag = "v2"
new_classes = ["GraphData"]

[vars]
YEAR = 2025
COLLECTIONS_AVAILABLE = 100000
DOLLAR_OFFSET = 8215739.75
DONATION_DIFFERENCE = 0
CONVERSION_RATE = 1.32
CAUSE_SLUG = "jingle-jam"
FUNDRAISER_PUBLIC_ID = "8bd643d3-07ae-4aab-bc2e-5179064bfebf"
YOGSCAST_USERNAME = "yogscast"
DURABLE_OBJECT_CACHE_KEY = "tiltify-data-2025"
LIVE_REFRESH_TIME = 10
ENABLE_REFRESH = false
GRAPH_REFRESH_TIME = 600
ENABLE_GRAPH_REFRESH = false
ENABLE_DEBUG = false


[env.development]
kv_namespaces = [
  { binding = "JINGLE_JAM_DATA", id = "c9634f49deeb4618b3c3f1980f777f7a", preview_id = "6a08d74af525475baefa19a93f0ba136" },
]

[env.development.durable_objects]
bindings = [
  { name = "TILTIFY_DATA", class_name = "TiltifyData" },
  { name = "GRAPH_DATA", class_name = "GraphData" },
]

[env.development.vars]
YEAR = 2025
COLLECTIONS_AVAILABLE = 100000
DOLLAR_OFFSET = 8215739.75
DONATION_DIFFERENCE = 0
CONVERSION_RATE = 1.32
CAUSE_SLUG = "jingle-jam"
FUNDRAISER_PUBLIC_ID = "8bd643d3-07ae-4aab-bc2e-5179064bfebf"
YOGSCAST_USERNAME = "yogscast"
DURABLE_OBJECT_CACHE_KEY = "tiltify-data-2025"
LIVE_REFRESH_TIME = 10
ENABLE_REFRESH = false
GRAPH_REFRESH_TIME = 600
ENABLE_GRAPH_REFRESH = false
ENABLE_DEBUG = false
