#embedContainer *:not(i) {
    font-family: "Montserrat";
  }

  #embedContainer {
      margin-top: 10px;
      margin-bottom: 20px;
      border: 0;
      width: 100%;
      height: 100%;
  }

  #embedContainer #historySection {
      display: flex;
      justify-content: center;
  }

#embedContainer #currencySelectorObj{
    position: absolute;
    right: 0;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    border: 0;
    box-shadow: none;
    background-color: #fafafa;
}

#embedContainer #loader{
    height: calc(100vh - 145px);
    box-shadow: none;
    border: 0;
    background-color: #fafafa;
}

#embedContainer .section {
    margin: 20px;
}

#embedContainer #historySection .section {
    max-width: 1650px;
}

#embedContainer .section-center {
    display: flex;
    justify-content: center;
}

#embedContainer .ui.statistics {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

#embedContainer .ui.statistics .statistic{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

#embedContainer .ui.statistics .statistic .value {
    white-space: nowrap;
    font-weight: bold;
}

#embedContainer .ui.slider .inner .track-fill {
    background-color: #e21251 !important;
}

#embedContainer .divider {
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
}

#embedContainer .custom-grid{
    display: flex !important;
    flex-wrap: wrap !important;
}

#embedContainer .custom-grid .custom-grid-column-2{
    display: flex;
    flex-basis: 45% !important;
}

#embedContainer .custom-grid .custom-grid-column-3{
    display: flex;
    flex-basis: 30% !important;
    max-width: 430px;
    min-width: 280px;
}

#embedContainer .custom-grid .custom-grid-column-6{
    display: flex;
    flex-basis: 14% !important;
    max-width: 220px;
    min-width: 165px;
}

#embedContainer #goalProgress {
    margin: 20px;
    margin-bottom: 40px;
}

#embedContainer #charitiesTable{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#embedContainer .diving-row{
    max-width: 1650px;
    width: 100%;
}

#embedContainer .center-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#embedContainer .subtext-label {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#embedContainer #updatingRealTime .ui.loader {
    position: relative;
    left: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 1px;
    top: 9px;
}

#embedContainer #liveUpdatingRow {
    margin-top: 7px;
    height: 20px;
    width: 100%;
}

#embedContainer .hide-live-update{
    margin-top: 20px;
}

#embedContainer .hide-live-update #liveUpdatingRow{
    display: none;
}

#embedContainer .stat-row {
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
    width: calc(100% - 40px) !important;
    max-width: 1300px !important;
}

#embedContainer #dateRange {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    width: calc(100% - 40px) !important;
    max-width: 1350px !important;
}

#embedContainer .slider .labels .label {
    color: #5a5a5a !important;
}

#embedContainer .bottom-margin{
    margin-bottom: 70px;
}

#embedContainer tbody th {
    padding: 10px !important;
}

#embedContainer .years-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#embedContainer .stats-section {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 180px;
}

#embedContainer .stats-section .ui.statistics {
    margin: 0px 100px;
    width: 40%;
}

#embedContainer .stats-section .stats-section-text, #embedContainer #historySection p {
    width: 100%;
    line-height: 1.6;
    font-size: 1.3em;
}

#embedContainer .stats-section .stats-section-text-right {
    text-align: right;
}

#embedContainer .stats-section .stats-section-text-left {
    text-align: left;
}

@media screen and (max-width: 1160px) {
    #embedContainer #headerName {
        display: none !important;
    }
}

@media screen and (min-width: 730px) {
    #embedContainer #headerButtonsSmall {
        display: none !important;
    }
    
    #embedContainer #headerButtonsLarge {
        display: inline-flex !important;
    }
}

@media screen and (max-width: 740px) {
    #embedContainer #headerButtonsSmall {
        display: inline-flex !important;
    }
    
    #embedContainer #headerButtonsLarge {
        display: none !important;
    }

    #embedContainer .ui.statistics .statistic {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
    }
    
    #embedContainer #charitiesTable thead {
        display: none;
    }
    
    #embedContainer #charitiesTable tbody th::before {
        content: attr(label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
        margin-right: 10px;
        text-align: left;
    }

    #embedContainer #charitiesTable tbody th {
        display: flex !important;
    }

    #embedContainer #firstRow {
        padding-top: 25px !important;
    }
    
    #embedContainer .ui.statistics.small .statistic {
        min-width: 100vw !important;
    } 
}

@media screen and (max-width: 350px) {
    #embedContainer #yearsTable thead {
        display: none;
    }
    
    #embedContainer #yearsTable tbody th::before {
        content: attr(label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
        margin-right: 10px;
        text-align: left;
    }

    #embedContainer #yearsTable tbody th {
        display: flex !important;
    }
}

@media screen and (max-width: 500px) {
    #embedContainer .ui.statistics.large .statistic .value {
        font-size: 4rem !important;
    }

    #embedContainer .ui.statistics .statistic .value {
        font-size: 3rem !important;
    }

    #embedContainer .ui.statistics.tiny .statistic .value {
        font-size: 1.5rem !important;
    }

    #embedContainer .stat-row {
        height: 400px !important;
    }
    
    #embedContainer .custom-grid .custom-grid-column-3{
        min-width: 200px;
    }

    #embedContainer .custom-grid .custom-grid-column-6{
        min-width: 125px;
    }

    #embedContainer #updatingRealTime {
        display: none;
    }
}

#embedContainer .loading-circle {
    display: inline-block;
    margin-right: 4px;
}

#embedContainer .live-icon {
    font-size: 15px;
    color: #e21251;
    -webkit-animation-name: toggle;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: toggle;
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: toggle;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes toggle {
    from {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes toggle {
    from {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#embedContainer .color-2016 {
    color: #46bdc6 !important;
}

#embedContainer .color-2017 {
    color: #ab30c4 !important;
}

#embedContainer .color-2018 {
    color: #c1bc1f !important;
}

#embedContainer .color-2019 {
    color: #71f437 !important;
}

#embedContainer .color-2020 {
    color: #ff0081 !important;
}

#embedContainer .color-2021 {
    color: #6967ff !important;
}

#embedContainer .color-2022 {
    color: #6ba950 !important;
}

#embedContainer .jj-pink {
    color: #e21251;
}

#embedContainer .navy {
    color: #2e3542;
}

#embedContainer .link {
    color: #308391;
}

#embedContainer .light-blue {
    color: #3584BF;
}

#embedContainer .dark-blue {
    color: #09437a;
}

#embedContainer .light-red {
    color: #E30E50;
}

#embedContainer .dark-red {
    color: #57051f;
}

#embedContainer .jj-thin{
    font-weight: 300;
}

#embedContainer .light-blue-background {
    background-color: #b5d5ed ;
}
