body{
    background-color: #1b1c1d;
    height: fit-content;
}

#header{
    margin: 20px;
    margin-bottom: 10px;
}

#header .ui.image {
    display: inline;
}

#header .ui.header {
    display: inline;
}

#header .ui.buttons {
    float: right;
}

#header #headerName{
    position: absolute;
    margin-top: 7px;
    margin-left: 30px;
}

#currencySelectorObj{
    position: absolute;
    right: 0;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

#loader{
    height: calc(100vh - 145px);
}

#footer {
    color: #919191;
    text-align: center;
    padding: 10px;
}

.section {
    margin-left: 20px;
    margin-right: 20px;
}

.ui.statistics {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.ui.statistics .statistic{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 12px;
    margin-right: 12px;
}

.ui.statistics .statistic .value {
    white-space: nowrap;
}

.ui.divider {
    margin-left: 20px;
    margin-right: 20px;
}

.custom-grid{
    display: flex !important;
    flex-wrap: wrap !important;
}

.custom-grid .custom-grid-column-2{
    display: flex;
    flex-basis: 45% !important;
}

.custom-grid .custom-grid-column-3{
    display: flex;
    flex-basis: 30% !important;
}

#charitiesTable{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#labelDate {
    color: #5a5a5a;
    margin-left: 20px;
}

:root {
  color-scheme: dark;
}

@media screen and (max-width: 1140px) {
    #headerName {
        display: none !important;
    }
}

@media screen and (min-width: 730px) {
    #headerButtonsSmall {
        display: none !important;
    }
    
    #headerButtonsLarge {
        display: inline-flex !important;
    }
}

@media screen and (max-width: 730px) {
    #headerButtonsSmall {
        display: inline-flex !important;
    }
    
    #headerButtonsLarge {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .ui.statistics.huge .statistic .value {
        font-size: 4rem !important;
    }

    .ui.statistics .statistic .value {
        font-size: 3rem !important;
    }

    #firstRow {
        padding-top: 25px !important;
    }

    .ui.statistics .statistic {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
    }
}